@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html,body {
	margin:0;
	padding: 0;
	height: 100%;
	width: 100%;
}
#particles-js{
    /*  background: rgb(3,167,176);
    background: linear-gradient(139deg, rgba(3,167,176,1) 0%, rgba(135,0,139,1) 79%, rgba(196,17,119,1) 100%);
    */
    height:100vh;
	background-size: cover;
	background-position: center;
}


.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(greenpine.jpg) no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;

}

.intro .inner {
	
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}


.content {
	max-width: 1000px;
	margin: 0 auto;
	text-align: 50px;
	padding-bottom: 40%;
	padding-left: 3%
}


.content h1{
	font-family: "Yantramanav", sans-serif;
	font-size: 800%;
	font-weight: 200;
	color: #070707;
	line-height: 80%;
}

.btn {
	font-family: "Montserrat", sans-serif;
	font-size: 80%;
	font-weight: 400;
	color: #070707;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #070707;
	padding: 8px 8px;
	border-radius: 15px;
	transition: all 0.8s;
}

.btn:hover {
font-size: 110%;
color: #456254;
border: solid #456254 3px;
}

p{
	font-size: 150%;
	line-height: 120%
	font-family: sans-serif;

}

/*--- Media Queries --*/
@media screen and (max-width: 900px) {
.content {
	padding-bottom: 30%;
}
.content h1{
	font-size: 450%;
}
.btn{
	font-size: 110%;
	padding: 9px 17px;
}
}

@media screen and (max-width: 768px) {
.content {
	padding-bottom: 40%;
}
.content h1{
	font-size: 300%;
}
.btn{
	font-size: 80%;
	padding: 9px 17px;
}
p{
	font-size: 120%;
	line-height: 100%;
}
}

@media screen and (max-width: 480px) {
.content {
	padding-left: 100%
	padding-bottom: 80%;
}
.content h1{
	font-size: 30%;
}
.btn{
	font-size: 40%;
	padding: 6px 14px;
}
p{
	font-size: 100%;
	line-height: 100%;
}	
}


